.center {
    align-self: center;
}
.form-container {
   
    & .left {
        margin: 0 0 47px;
    }
    & form {
        & div{
            display: flex;
            flex-direction: column;
        }
    }
}

