.login{
    & a{
        color: $hospital-green;
        @include size("sm");
        text-decoration: none;
        align-self: flex-start;
        justify-self: center;
        margin-bottom: 80px;
        @include media(desktop-s) {
            margin-bottom: 48px;
        }
    }
    & .secondary-button{
        @include button("secondary");
        align-self: flex-end;
    }
}
.start{
    @include media(desktop-s) {
        align-self: flex-start;
    }
}