.desktop-menu {
    width: 152px;
    height: auto;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.119789);
    border-radius: 5px;
    padding: 0 18px;
    & ul {
        list-style: none;
        padding: 0;
        margin: 0;
        & li {
            text-align: end;
            @include size("md");
            font-weight: 700;
            color: $black;
            &:nth-child(1){
                padding-top: 30px;
            }
            &:nth-child(2){
                padding-top: 25px;
                padding-bottom: 30px;
            }

            &:last-child {
                color: $hospital-green;
                border-top: 1px solid $hospital-green;
                padding-top: 20px;
                padding-bottom: 16px;
                @include size("sm");
                font-weight: 700;
            }
        }
    }
}
