.form-container{
    & .email-image{
        height: 153px;
        width: 153px;
        border-radius: 50%;
        background-color: $text-input-field;
        display: flex;
        justify-content: center;
        justify-self: center;
        margin-bottom: 40px;
        & img{
            width: 90px;
            height: 56px;
            margin: 0;
            align-self: center
        }
    }
    & .primary-button{
        @include primary-button;
    }
    & .resend{
        @include size(sm);
        text-align: center;
        & span{
            color: $very-light-pink;
        }
        & a{
            color: $hospital-green;
            text-decoration: none;
        }
    }
}